#.gitignore
/Kopernicus/bin/* # This means that app folder and all subfolders and files will be ignored
KopernicusSystemSource.cs.orig
Kopernicus/bin/Release/Assembly-CSharp-firstpass.dll
Kopernicus/bin/Release/Assembly-CSharp.dll
Kopernicus/bin/Release/Kopernicus.dll
Kopernicus/bin/Release/Mono.Cecil.dll
Kopernicus/bin/Release/Mono.Security.dll
Kopernicus/bin/Release/mscorlib.dll
Kopernicus/bin/Release/System.Core.dll
Kopernicus/bin/Release/System.dll
Kopernicus/bin/Release/System.Xml.dll
Kopernicus/bin/Release/TDx.TDxInput.dll
Kopernicus/bin/Release/UnityEngine.dll
/Kopernicus/bin/Release/UnityEngine.dll.mdb
Kopernicus/obj/*
*.suo
Kopernicus.userprefs
*.bin
Kopernicus/Kopernicus.csproj.user
Kopernicus/Distribution/GameData/Kopernicus/Plugins/build.bat
