#Kopernicus implements it's own version of all these things, default on, with the exception of stock Moho and MapSOCorrectWrapping due to the MoHole.
@KSP_COMMUNITY_FIXES:FINAL
{
	@MapSOCorrectWrapping = false
	@ScatterDistribution = false
	@ROCValidationOOR = false
}