<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IDisposableAnalyzers" version="4.0.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Unity.Analyzers" version="1.12.0" targetFramework="net472" developmentDependency="true" />
  <package id="ReflectionAnalyzers" version="0.3.1" targetFramework="net472" developmentDependency="true" />
</packages>