<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assembly-CSharp" version="1.8.1" targetFramework="net472" />
  <package id="ModularFlightIntegrator" version="1.2.7" targetFramework="net472" />
  <package id="UnityEngine.AssetBundleModule" version="1.8.1" targetFramework="net472" />
  <package id="UnityEngine.CoreModule" version="1.8.1" targetFramework="net472" />
  <package id="UnityEngine.ImageConversionModule" version="1.8.1" targetFramework="net472" />
  <package id="UnityEngine.PhysicsModule" version="1.8.1" targetFramework="net472" />
  <package id="UnityEngine.UI" version="1.8.1" targetFramework="net472" />
  <package id="UnityEngine.UnityWebRequestWWWModule" version="1.8.1" targetFramework="net472" />
</packages>
